{% extends 'encyclopedia/layout.html' %}

{% block title %}
    create new page
{% endblock  %}

{% block body%}
    <form action="{% url 'create_newPage' %}" method="POST">
        {% csrf_token %}
        <h1>Create New Page</h1>
        <label>Title:</label>
        <input type="text", placeholder="title", name="title">
        <br/>
        <label>Markdown Content:</label><br/>
        <textarea name="content_md" placeholder="Markdown Content"></textarea>
        <br/>       
        <input type="submit" value="Save New Page">
    </form>
{% endblock %}